<div id="create-potion-view">
    <h1>Create potion</h1>
    <div>
        <h2>Choose ingredient</h2>
        <div ng-repeat="ingredient in availableIngredients" class="ingredient-picker">
            <button ng-click="addIngredient(ingredient)" class="action-button"></button>
            {{ ingredient.name }}
            <img ng-src="{{ingredient.icon}}" width="30px"/>
        </div>
    </div>
    <div>
        <pots-potion-edit ng-model="currentPotion"/>
    </div>
    <div>
        <button ng-if="currentPotion.ingredients.length > 0" ng-click="buy()">Buy</button>
    </div>
</div>